<footer class="footer">
	<small>
		<a href="http://railstutorial.org/"> Magueule Productions</a> by Millet
	</small>
	
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://politicize.me">Politicize Me!</a></li>
    </ul>
  </nav>
</footer>